*{
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 12px;
    background: url("images/christmas.jpg") ;
    background-size: cover; 
  }
  
  .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  .key {
    border: .4rem solid white;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 1s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(248, 224, 224, 0.4);
    text-shadow: 0 0 .5rem black;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .playing {
    transform: scale(1.1);
  }
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #0571af;
  }